name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup fenv
        uses: ./fenv
        with:
          ext_bake: './docker/bake.hcl'
          ext_image_name: 'fdb-mutex'

      - name: Run build and tests
        run: ./build.sh
